body {
    background-image: url(https://tinyurl.com/mwxjjv5c);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Star Wars', sans-serif;
    font-size: small;
}
button {
    margin-top: 8vh;
}
img {
    width: 150px;
    height: 200px;
    border-radius: 50px;
}
#results {
    color: yellow;
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}
.header {
    color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.buttons {
    display: flex;
    justify-content: space-around;
}